header {
  background-image: url(https://img.freepik.com/free-vector/blue-fluid-background-frame_53876-99019.jpg?size=626&ext=jpg&ga=GA1.1.609444847.1699661775&semt=sph);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;

  width: 100%;
  display: flex;
}

header picture img {
  padding-left: 30%;

  max-width: 100%;
}

/* Estilos del menú de navegación */
header nav {
  
  max-width: 1000px;
  margin: 20px auto;
  background-color: #1613a8;
  width: 40%;
  height: 50px;
}
.menu_bar{
  display: none;
}

header nav ul {
  overflow: hidden;
  list-style: none;
}

header nav ul li {
  float: left;
}

header nav ul li a {
  color: white;
  padding: 20px;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

header nav ul li a:hover {
  background-color: rgb(127, 189, 230);
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
    width: 50%;
    height: 40%;
    margin: 0;
    position: fixed;
  }

  header nav ul li {
    float: none;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .menu_bar {
    display: block;
    width: 50%;

  }

  .menu_bar .bt-menu {
    display: block;
    padding: 10px;
    background: #44a8be;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
